NEXT_PUBLIC_MOMO_NAME=The Kings and Queens Enterprise
NEXT_PUBLIC_MOMO_NUMBER=0550000000
NEXT_PUBLIC_WHATSAPP=0550000000
NEXT_PUBLIC_ADMIN_EMAIL=admin@thekingsandqueens.com
NEXT_PUBLIC_ADMIN_PASSWORD=Admin@2024
